In [16]:
import tkinter as tk
from tkinter import ttk
import psycopg2
import webbrowser

In [17]:
# List of ship names
list_of_ship_names = ["ACACIA","ADVANCE","ADVANTAGE PORTOFINO","AKA BHUM","AL BIDDA","AL DHAIL", "AL GHASHAMIYA","AL NUAMAN","AL RAYYAN",
    "ALANA","ALFIOS","ALIADO","ALJAZI", "ALLI","ALPHA", "ALS CLIVIA", "ALS SUMIRE", "ANAHITA","ANDROMEDA V","ANDROS NAVIGATOR","ANL DHAMBI", "ANNE", "ANTWERP",
    "AP ASTAREA","APL ANTWERP","APL SAVANNAH","AQUA TERRA 7", "AQUA6","AQUILA GLORY","ARAW","ARTEMIS",
    "AS CALIFORNIA","AS NADIA", "AS PATRIA", "ASB MUTIARA 8","ASEAN PROTECTOR", "ASIA ASPARA", "ASIAN HERCULES III",
    "ASIATIC KING","ASTERIA LEADER","ATACAMA","ATALANTA", "ATHENA", "ATLANTIC ISLAND", "ATLANTIC TIGER",
    "AU LIBRA", "AULAC BELLA", "AULAC DIAMOND", "AVON", "AYAME", "AZUL HORIZONTE", "BANGKOK BRIDGE", "BANGLAR AGRADOOT",
    "BANGLAR ARJAN","BAO AN LING", "BARZIN", "BAYAN","BAYNOUNAH", "BBC EMSLAND","BENTLEY","BERG", "BERGE NINGBO", "BLOSSOM", "BRIDGE", "BRIGHT LAEM CHABANG", "BRITISH OFFICER", "BTS CALYPSO",
    "BTS CAMILLA","BTS CAPELLA", "BTS ELIZABETH", "BTS FABULOUS", "BUNGA KASTURI LIMA", "BW FALCON",
    "BW ORION","CALLISTO","CALYPSO", "CAMILLA","CANOPUS","CAPE CONDOR","CAPE FAWLEY", "CAPE FLORES",
    "CAPE SYROS","CAPRIOLE", "CAROLINE","CAT LAI EXPRESS","CATALYSE", "CHANG HANG ZI JING","CHANG MIN",
    "CHANG YOUNG", "CHEM SEA 1","CHINA TRIUMPH", "CHWNTEK 5", "CIARA ENTERPRISE",
    "CIELO DI HOUSTON", "CL MONA","CMA CGM AFRICA FOUR", "CMA CGM B FRANKLIN", "CMA CGM BLUE WHALE","CMA CGM GANGES", "CMA CGM HERMES",
    "CMA CGM LITANI", "CMA CGM NABUCCO", "CMA CGM RABELAIS", "CMA CGM RODOLPHE",
    "CMA CGM TANCREDI", "CMA CGM TARPON", "CMA CGM TROCADERO", "CMA CGM VELA",
    "CNC 5", "CNC JAGUAR", "CNC SERVAL", "CNC TIGER", "COLOMBO", "COMMODORE ONE",
    "COMO", "CONGO", "CONGO RIVER", "COSCO CAPRICORN", "COSCO ENGLAND",
    "COSCO FUZHOU", "COSCO SURABAYA", "COSCO VENICE", "COSLUCKY LAKE", "COSMIC 10",
    "CROWN FORTUNE", "CRYSTAL ACTEON", "CS HUNAN VENTURE", "CSM 1", "CSM TAURUS",
    "CSSC SHI JIA ZHUANG", "CYGNUS PASSAGE", "DA HENG SHAN", "DA TAI SHAN",
    "DA TONG YUN", "DABA", "DAI PHU", "DALIAN", "DALIS", "DANUM 172",
    "DARYA DEVI", "DAVINA", "DEBONAIR", "DECORUM", "DELPHINE", "DEMURE",
    "DERIUS", "DESNA", "DEW", "DH EPOCH", "DHT TIGER", "DILI CHIEF", "DINA OCEAN",
    "DING HENG 41", "DK SUNRISE", "DORSET", "DOWNY", "DRAFTSLAYER", "DUANGTALAY8",
    "DUKESHIP", "EAGER", "EAGLE ASIA 01", "EAGLE ASIA 07", "EAGLE ASIA 12",
    "EAGLE GARNET", "EAGLE KUCHING", "EAGLE LIKA", "EAGLE SAKURA", "EAGLE SENA",
    "EASTERLY AS OLIVIA", "EASTERN OASIS", "EBBA MAERSK", "ECO CHIOS",
    "EEMSLIFT NELLI", "EF EMMA", "EFRAIM A", "ELA", "ELBE", "ELM K", "EMERALD ACE",
    "EMINENCE", "EMISSARY", "EMMA COSULICH", "ENA SAMURAI", "ENCHANT", "ENDEAR",
    "ENERGETIC", "ENERGY LIBERTY", "ENLIVEN", "ENTHRAL", "EONIA", "EPITOME",
    "ES EFFORT", "ESMERALDA", "ESPRIT", "ESSENCE", "ETC RAMSIS", "EUPHRATES HIGHWAY",
    "EVER ATOP", "EVER BEAMY", "EVER BLESS",
    "EVER BRIGHT", "EVER CONSIST", "EVER ETHIC", "EVER GOVERN", "EVER OATH",
    "EVER OMNI", "EVER PEARL", "EVER SOVEREIGN", "EVER TOP", "EVER ULYSSES",
    "FALCON ROYAL", "FC G", "FIDA", "FLAG HOPE", "FLEX CONSTELLATION",
    "FLOURISH", "FM ACE", "FM BLISS", "FOLEGANDROS", "FORTUNE GLORY",
    "FPMC 30", "FPMC 33", "FPMC B NATURE", "FREE SPIRIT", "FRONT ALTA",
    "FRONT ENDURANCE", "FRONTEK", "FRONTIER GARLAND", "FS DILIGENCE", "FUJI GALAXY",
    "FW EXCURSIONIST", "G STAR", "GANJ", "GANTA BHUM", "GAS KALIMANTAN",
    "GAS MARTA", "GC BERYL", "GENCO MAXIMUS", "GENCO RESOLUTE", "GEORGY MASLOV",
    "GEOSTAR", "GEUM GANG", "GH TRAMONTANE", "GLOBAL PIONEER", "GLORY DYNASTY",
    "GOLDEN ARANDA", "GOLDEN BRISTOL", "GOLDEN PIONEER", "GRAND DIAMOND", "GRAND PACE",
    "GRAVITAS", "GRAZIA COSULICH", "GREAT PRINCESS", "GREAT THITA", "GREEN CELESTE",
    "GREEN CLARITY", "GREEN COVE", "GUO YUAN 32", "HAFNIA AMBER", "HAFNIA ANDESINE",
    "HAFNIA KALLANG", "HAI SOON 1", "HAI SOON 16", "HAI SOON 3", "HAI SOON 32",
    "HAI SOON 33", "HAKATA SEOUL", "HAKUNA MATATA", "HAN HE", "HANSA LANKA",
    "HARIMA", "HARMONIA", "HARMONY", "HARVEST LEADER", "HMM GAON",
    "HMM ROTTERDAM", "HONESTY", "HONGKONG BRIDGE", "HORIZON 8", "HORIZON 9",
    "HUGE KUMANO", "HUMBER", "HY AMBER", "HY CHAMPION", "HY JADE",
    "HY TALENT", "HYUNDAI OAKLAND", "IBRA LNG", "INESSA", "INLACO ACCORD",
    "INTEGRA", "INTERASIA PROGRESS", "IRENES RAY", "ISABELLA KOSAN", "ISANDA",
    "ISEACO FORTUNE", "ISLAND SPLENDOR", "ISSELIA", "JAG AKSHAY", "JANA",
    "JASA MURNI", "JAZZ", "JBU ONYX", "JEJU ISLAND", "JING YU ZUO", "JMS DUTA", "JMS SUNSHINE",
    "JOSEPHINE MAERSK", "JULIE", "JUMBO KINETIC", "JUTHA MARITIMO", "KAI EI MARU 15", "KANTEK 2",
    "KATHRINE KOSAN", "KATSU PIONEER", "KAZIMAH III", "KEN HOU", "KHATIM", "KHURAIS", "KIMTEK 1",
    "KIRANA NAWA", "KIRANA QUARTYA", "KLARA", "KMARIN RENOWN", "KMT JENNY", "KMTC CHENNAI",
    "KMTC JEBEL ALI", "KMTC QINGDAO", "KOSMOS CITRINE", "KOTA BISTARI", "KOTA LIHAT", "KOTA NAZAR",
    "KSP PHOENIX", "KST 56", "KST LIBERTY", "KST PASSION", "KST STELLAR", "KST ZODIAC", "KUWANA",
    "LARGO DESERT", "LEADERSHIP", "LEGEND GEMINI", "LEO PERDANA", "LEONORA KOSAN", "LG ASPHALT 1",
    "LI CHI", "LIAN SHUN HU", "LIBERTY ACE", "LINKWOOD", "LNG PRIMA CARRIER", "LONGROW", "LORD VISHNU",
    "LOTUS LEADER", "LOTUS RIVER", "LS JUPITER", "LT BERYL", "LUISELLA COSULICH", "LUMINOUS", "M GARNET",
    "M.STAR", "M.V KITI BHUM", "MAERSK ATHABASCA", "MAERSK CAMEROUN", "MAERSK CONAKRY", "MAERSK CUANZA",
    "MAERSK DURBAN", "MAERSK GAIRLOCH", "MAERSK KOWLOON", "MAERSK LAGUNA", "MAERSK LANCO", "MAERSK NARVIK",
    "MAERSK NORDDAL", "MAERSK NUSANTARA", "MAERSK RIO DELTA", "MAERSK SIHANOUKVILLE", "MAERSK SONGKHLA",
    "MAERSK STOCKHOLM", "MAERSK XIAMEN", "MAERSK YUKON", "MAESTRO", "MAIRAKI", "MAJESTIC GLORY", "MAJU 510",
    "MAJU 511", "MAJU LOYALTY", "MARAN GAS CHIOS", "MARAN HOMER", "MARAN MARS", "MARAN THETIS", "MARE I",
    "MARINA AMBER", "MARINE ANGEL", "MARINE BELLA", "MARINE CHARGE", "MARINE EXPLORER", "MARINE GAIA",
    "MARINE HONOUR", "MARINE KINGSLY", "MARINE NOEL", "MARINE ORACLE",
    "MARINE QUEENIE", "MARINE ROSE", "MARINE SELENA", "MARINE YANGTZE", "MARINE ZAMBEZI",
    "MARLIN DUA", "MARLIN SATU", "MARS", "MATRAH", "MCC TAIPEI",
    "MEHLE", "MERATUS MEDAN 5", "MERLION 23", "MERLION 25", "MERLION 27",
    "MERLION 28", "MERLION 30", "MERLION 31", "MESAIMEER", "METTE MAERSK",
    "MILTIADIS JUNIOR", "MMA INSCRIPTION", "MOL EARNEST", "MOL ENDOWMENT", "MOL EXPLORER",
    "MP MR TANKER 2", "MS SOPHIE", "MSC ADITI", "MSC BANU III", "MSC CHERYL 3",
    "MSC COLETTE III", "MSC CORINNA", "MSC EMILY II", "MSC FORTUNE F", "MSC GENERAL IV",
    "MSC IMMA III", "MSC JASMINE", "MSC LISA", "MSC LUCIANA", "MSC MARIA SAVERIA",
    "MSC NAGOYA V", "MSC NIMISHA III", "MSC ORIANE", "MSC SAGITTA III", "MSC SOPHIE",
    "MSC TARA III", "MSC VEGA", "MSC VIVIANA", "MT TIRTASARI", "MTT SAPANGAR",
    "MUTIARA RATU", "MV PUTRI ANGGRENI 03", "MV.CTP FORTUNE", "NAJADE", "NAN LIAN 006",
    "NANIWA", "NAUTICA KLUANG 2", "NAVE ELECTRON", "NAVI MOON", "NAVIOS HELIOS",
    "NAVIOS UNISON", "NCC QASSIM", "NEPAMORA", "NEW ACCORD", "NEW ADEN",
    "NEW MELODY", "NEW NAVIGATOR 2", "NING YUE HAI", "NISSAKI", "NOBLE",
    "NOBLE ACE TG41", "NOBLE ATLAS TG43", "NOBLE PEARL TG42", "NOBLE RELIANCE TG49", "NOBLE VEGA",
    "NOC 9", "NORD PLUTO", "NORDIC BASEL", "NORDIC MARITA", "NORTHERN PRACTISE",
    "NORTHERN PRIORITY", "NORTHERN PROMOTION", "NOVA CAELI", "NV AQUAMARINE", "NYK ORION",
    "OCEAN 86", "OCEAN VENUS", "OIGAWA", "OINOUSSIAN STAR", "OLYMPIA ROAD",
    "ONE HANNOVER", "ONE MACKINAC", "ONE MAGDALENA", "ONE MATRIX", "ONE TRIBUTE",
    "ONE WREN", "OOCL CHICAGO", "OOCL INDONESIA", "OOCL LUXEMBOURG", "OOCL YOKOHAMA",
    "ORA BHUM", "ORACLE", "ORALIA", "ORCHID EXPRESS", "ORE TIANJIN", "ORIENTAL GULF II", 
    "ORION JESSICA", "ORKIM DISCOVERY", "ORKIM FORTITUDE", "ORKIM GLORY", "ORKIM PEARL",
    "ORKIM SAPPHIRE", "ORLANDO 1", "OSGOOD", "OXALIS JASMINE", "OXALIS LOTUS", "OXALIS PEONY",
    "PAC ADHIL", "PACIFIC EXPRESS", "PACIFIC FAITH", "PACIFIC HONOUR", "PACIFIC JEWELS",
    "PACIFIC WEST", "PAN JOY", "PANDUAN", "PARIGI P1030", "PEACE HILL", "PEARL JUBILEE",
    "PEARL JUPITER", "PEARL KARUIZAWA", "PEARL KATE", "PEARL KHAOYAI", "PEARL MAYA", "PEARL MELODY",
    "PEARL MIMOSA", "PEDHOULAS MERCHANT", "PELAGICA", "PENGUIN REDEEM", "PERL", "PETRO ASIA",
    "PETROLIMEX 14", "PINAR GAS", "POOLGRACHT", "PORTO GERMENO", "POSH GRACE", "POSH ZEST",
    "PRABHU SAKHAWAT", "PREGNY", "PRINCESS TOPAZ", "PRO TRIUMPH", "PSA CONNECTIVITY", "PSA ASPEN NN25",
    "PSA CAPELLA YS51", "PSA FALCON CS07", "PSA HULK CS04", "PSA OAK WW60", "PSA PHOENIX CS09",
    "PSA POLARIS YS50", "PSA SHURI CS08", "PSA SUSTAINABILITY", "PSA TAURUS YS52", "PSA THOR CS03",
    "PSA VALKYRIE CS06", "PSA VISION (NN27)", "PUFFIN ONE", "PUFFIN THREE", "PUMBA", "PUSAKA ABADI",
    "PVT SATURN", "PVT SYNERGY", "QUEEN SERE", "QUEEN STAR 6", "RADIANT CS02", "RCC ASIA", "REN JIAN 15",
    "REN JIAN 27", "RESILIENT NN23", "RESOLUTE NN24", "RIDGEBURY LESSLEY B", "RIGHTEOUS NN21", "RITA",
    "RONG XIANG", "ROSEANNE", "ROYAL STANCE", "RUBICON NN22", "SAEHAN ASTRO", "SAEHAN WALLABY",
    "SAFEEN PIONEER", "SAGA TUCANO", "SALAM MAJU", "SALAMAH", "SANMAR SAROD", "SANTA LOUKIA",
    "SANTA VANESSA", "SASANQUA", "SAVVY", "SAWASDEE XIAMEN", "SC GOLD OCEAN", "SEA BOUNTIFUL", "SEA BRILLIANCE",
    "SEA CHARM", "SEA FORTITUDE", "SEA GEMINI", "SEA HARVEST", "SEA HERMES",
    "SEA LOYALTY", "SEA SERENITY", "SEA UNITY", "SEABREEZE", "SEASPAN FRASER",
    "SEASPAN LUMACO", "SEATTLE BRIDGE", "SEAWAYS ENDEAVOR", "SEAWAYS GRACE", "SETIA AZAM",
    "SEVEN PEGASUS", "SFL MAUI", "SH OLIVIA", "SH VENUS", "SHAN CHI",
    "SHANDONG FU ZHI", "SHAO SHAN 8", "SHENG HUA WAN", "SIFA", "SILHOUETTE ISLAND",
    "SINAR AGRA", "SINAR BAJO", "SINAR BUKITTINGGI", "SINAR MATARAM", "SINAR MAUMERE",
    "SINAR SIANTAR", "SINAR SORONG", "SINCERITY", "SINGAPORE", "SITC JIANGSU",
    "SITC NANSHA", "SITC YUANMING", "SKY RUNNER", "SKY WIND", "SLED",
    "SM WHITE WHALE2", "SOL MALAYSIA", "SOLAR ROMA", "SONGA HAWK", "SONGA ORION",
    "SOUNION", "SOUTHERN CROSS", "SPIRIT OF CAPE TOWN", "SPRING", "SRIWANGI",
    "SSI NEMESIS", "STAR PLANET", "STAR QUEST", "STAR TITAN TG83", "STEN IDUN",
    "STET POLARIS", "STI GAUNTLET", "STL L5", "STOLT PALM", "STOLT SYCAMORE",
    "STRAITS GEMILANG", "STRAITS HARMONY", "S-TREASURE", "SUMMIT PSA 4", "SUN NEPTUNE",
    "SUN ROYAL", "SUN SIRIUS", "SUNONE", "SUNRISE DRAGON", "SUPER ROYAL",
    "SUZUKASAN", "SVENJA", "SWARNA GODAVARI", "SYNERGY", "TAKIS",
    "TAMBA", "TANGGUH PALUNG", "TARIF", "TB GOJIRA 1", "TEH TAICHUNG",
    "TENRYU", "TENZAN", "THAMES", "THERESA LIBRA", "TIAN LU",
    "TIGER CHENNAI", "TIONG WOON OCEAN 19", "TIRRANNA", "TOLL EMPEROR", "TOP CONFIDENCE",
    "TOPAZ EXPRESS", "TORERO", "TORM VENTURE", "TRANS CATALONIA", "TRF MANDAL",
    "TS SYDNEY", "UNI SUPPLY 1", "V. PROSPERITY", "VANDA SUCCESS", "VENUS",                                     
    'VERGIOS', 'VERITY', 'VIKING BRAVERY', 'VITTORIA', 'VL BRILLIANT',
    'VP ASPHALT 1', 'VULPECULA', 'WAN HAI 283', 'WAN HAI 331', 'WAN HAI 355',
    'WAN HAI 507', 'WAN HAI 510', 'WAN HAI 513', 'WAN HAI 721', 'WINNING BROTHER',
    'WINNING NATURE', 'XIN FA HAI', 'XIN FANG CHENG', 'XIN HONG KONG', 'XIN NAN TONG',
    'XIN PU DONG', 'XIN QIN ZHOU', 'XIN QUAN ZHOU', 'XIN RUN YANG', 'XIN WU HAN',
    'XIN XIA YANG', 'X-PRESS IRRAWADDY', 'XT DOLPHIN', 'YANTRA BHUM', 'YAQUT',
    'YASA ALBATROSS', 'YELENA', 'YENISEI RIVER', 'YK SOVEREIGN', 'YM CAPACITY',
    'YM COSMOS', 'YM HARMONY', 'YM INAUGURATION', 'YM INTERACTION', 'YM WELLSPRING',
    'YONG AO', 'YUAN JING HE', 'YUAN LIAN WAN', 'YUAN TAI NO.806', 'YUE YOU 908',
    'ZEMIRA', 'ZMAGA', 'ZOE SCHULTE'
]

In [18]:
#SQL Codes
queries = {
    "Summary of the latest reported activities of ships": {
        "query": """
            SELECT 
                s.shipname,
                s.shiptype_name,
                l.country,
                st.status_name,
                COUNT(DISTINCT s.ship_id) AS number_of_ships,
                MAX(d.date) AS last_reported_date,
                AVG(m.speed) AS average_speed,
                COUNT(m.message_id) AS message_count
            FROM 
                message_fact m
            JOIN 
                ship_dim s ON m.ship_id = s.ship_id
            JOIN 
                location_dim l ON m.location_id = l.location_id
            JOIN 
                datetime_dim d ON m.datetime_id = d.time_id
            JOIN 
                status_dim st ON m.status_id = st.status_id
            GROUP BY 
                s.shipname, 
                s.shiptype_name, 
                l.country, 
                st.status_name
            ORDER BY 
                last_reported_date DESC,
                number_of_ships DESC;
        """,
        "columns": ["Ship Name", "Ship Type","Country","Status Name","No. of Ships","Last Reported Date","Average Speed","No. of Messages"]
    },
    "Ship details for location with most ships registered in SG": {
        "query": """
            WITH UniqueShipsAtSGPorts AS (
                SELECT 
                    mf.ship_id,
                    ld.ship_lon,
                    ld.ship_lat,
                ld.locode
                FROM message_fact mf
                INNER JOIN location_dim ld ON mf.location_id = ld.location_id
                WHERE ld.LOCODE LIKE 'SG%'
                GROUP BY mf.ship_id, ld.ship_lon, ld.ship_lat, ld.locode
            )

            SELECT 
                sd.ship_id, sd.mmsi, sd.shipname, sd.shiptype_name, sd.country,
                usg.ship_lat,
                usg.ship_lon,
              usg.locode
            FROM ship_dim sd
            JOIN UniqueShipsAtSGPorts usg ON sd.ship_id = usg.ship_id
            ORDER BY sd.ship_id;
        """,
        "columns": ["Ship ID", "MMSI", "Ship Name", "Ship Type", "Country", "Ship Latitude", "Ship Longitude", "LOCODE"]
    },
    "Detailed Log for Specific Ship": {
        "query": """
            SELECT 
                mf.message_id,
                mf.location_id,
                dt.date,
                dt.time_only as time,
                s.description
            FROM 
                message_fact mf
            JOIN 
                status_dim s ON mf.status_id = s.status_id
            JOIN 
                datetime_dim dt ON mf.datetime_id = dt.time_id
            JOIN 
                ship_dim sd ON mf.ship_id = sd.ship_id
            WHERE 
                sd.shipname = '{ship_name}'
            ORDER BY 
                dt.date, dt.time_only;
        """,
        "columns": ["Message Id", "Location ID", "Date", "Time", "Description"]  # Replace with actual column names
    },
    "Estimation of the fuel consumption of each ship": {
        "query": """
            SELECT 
                s.shiptype_name,
                ROUND(AVG(
                    CASE
                        WHEN LEFT(s.shiptype, 1) IN ('4', '6') THEN 0.8 * s.gt * (m.speed * m.speed)
                        WHEN LEFT(s.shiptype, 1) IN ('7', '8') THEN 1.2 * s.gt * (m.speed * m.speed)
                        ELSE s.gt * (m.speed * m.speed)
                    END)
                ) AS estimated_fuel_consumption
            FROM ship_dim s, message_fact m
            WHERE s.ship_id = m.ship_id
            AND s.shiptype_name IS NOT NULL
            AND s.gt IS NOT NULL
            GROUP BY s.shiptype_name
            HAVING AVG(m.speed) > 0
            ORDER BY estimated_fuel_consumption DESC;
            
        """,
        "columns": ["Ship Type","Estimated Fuel Consumption"]
    }
}

In [21]:
def open_html_links():
    map_url = "file:///C:/Users/theja/OneDrive/Desktop/MSBA/MSBA%20Course/BT5110/Project/ProjectShip/test.html"
    graph_url = "file:///C:/Users/theja/OneDrive/Desktop/MSBA/MSBA%20Course/BT5110/Project/ProjectShip/type_and_location.html"
    webbrowser.open(map_url)
    webbrowser.open(graph_url)
#Customise this based on your PgAdmin details
def execute_query(query_key, ship_name=None):
    try:
        conn = psycopg2.connect(
            host='localhost',
            dbname='ProjectShip3',
            user='postgres',
            password='', #Change this to your Postgres password
            port='5432'
        )
        cur = conn.cursor()

        
        query = queries[query_key]['query']
        if ship_name:  
            query = query.format(ship_name=ship_name)
        cur.execute(query)

        
        records = cur.fetchall()

       
        for i in results_tree.get_children():
            results_tree.delete(i)

        
        update_treeview_columns(query_key)

        
        for row in records:
            results_tree.insert('', tk.END, values=row)

    except psycopg2.DatabaseError as e:
        
        for i in results_tree.get_children():
            results_tree.delete(i)
        results_tree.insert('', tk.END, values=(str(e),))
    finally:
        
        if cur is not None:
            cur.close()
        if conn is not None:
            conn.close()

def update_treeview_columns(query_key):
    # Clear the current columns
    results_tree['columns'] = ()
    for col in results_tree['columns']:
        results_tree.heading(col, text="")
        results_tree.column(col, width=0, minwidth=0)

    
    new_columns = queries[query_key]['columns']
    results_tree['columns'] = new_columns
    for col in new_columns:
        results_tree.heading(col, text=col.capitalize())
        results_tree.column(col, width=100, anchor='center')

def on_query_selected(event):
    selected_query = query_var.get()
    
    if selected_query == "Detailed Log for Specific Ship":
        ship_name_label.pack(padx=10, pady=5)
        ship_name_dropdown.pack(padx=10, pady=5)
    else:
        ship_name_label.pack_forget()
        ship_name_dropdown.pack_forget()

def on_execute_clicked():
    selected_query = query_var.get()
    selected_ship_name = ship_name_var.get() if ship_name_dropdown.winfo_ismapped() else None
    execute_query(selected_query, selected_ship_name)

    
    if selected_query == "Ship details for location with most ships registered in SG":
        open_html_links()

# Create the main window
root = tk.Tk()
root.title("Maritime Database Query")

# Create a dropdown box for selecting a query
query_label = ttk.Label(root, text="Select a Query:")
query_label.pack(padx=10, pady=5)

query_var = tk.StringVar(root)
query_dropdown = ttk.Combobox(root, textvariable=query_var, width=50, state="readonly")
query_dropdown['values'] = list(queries.keys())
query_dropdown.bind('<<ComboboxSelected>>', on_query_selected)
query_dropdown.pack(padx=10, pady=5)

# Create a label and dropdown for selecting the ship name, initially hidden
ship_name_label = ttk.Label(root, text="Select Ship Name:")
ship_name_var = tk.StringVar(root)
ship_name_dropdown = ttk.Combobox(root, textvariable=ship_name_var, width=50, state="readonly")
ship_name_dropdown['values'] = list_of_ship_names

# Create a frame for the Treeview and scrollbar
tree_frame = ttk.Frame(root)
tree_frame.pack(padx=10, pady=10, fill='both', expand=True)

# Create a Treeview widget for displaying the results
output_label = ttk.Label(root, text="Query Results:")
output_label.pack(padx=10, pady=5)

# Initialize the Treeview with no columns
results_tree = ttk.Treeview(tree_frame, columns=(), show='headings')

# Pack the Treeview
results_tree.pack(side='left', fill='both', expand=True)

# Create a button to execute the query
execute_button = ttk.Button(root, text="Execute Query", command=on_execute_clicked)
execute_button.pack(padx=10, pady=10)

# Start the Tkinter event loop
root.mainloop()